* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-image: url("../public/images/bg-img-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  :root {
    background-image: url("../public/images/bg-img-tablet.jpg");

    font-size: 14px;
  }
}
@media (max-width: 625px) {
  :root {
    background-image: url("../public/images/bg-img-mobile.jpg");

    font-size: 12px;
  }
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 0px;
}
