.user-rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

@media (max-width: 625px) {
  .navbar-container {
    padding: 1rem;
  }
  .user-container {
    gap: 1rem;
  }
}
