.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  background: #0b476965;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
}
.navbar-container img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

@media (max-width: 625px) {
  .navbar-container {
    padding: 1rem;
  }
}
