.card {
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

.card img {
  background-color: rgba(228, 242, 251, 0.656);
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  user-select: none;
}

.card .front {
  transform: rotateY(90deg);
  position: absolute;
  transition: all 0.2s ease-in;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all 0.2s ease-in;
  transition-delay: 0.2s;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@media (max-width: 768px) {
  .card {
    font-size: 12px;
  }
}
@media (max-width: 550px) {
  .card {
    font-size: 10px;
  }
}
@media (max-width: 355px) {
  .card {
    font-size: 8px;
  }
}
